*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: blue;
  height: 80px; /*da togliere*/
}

header .container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .container span{
  background-color: lightblue;
  padding: 10px;
  margin: 20px 0;
}

main .jumbotron {
  background-color: aqua;
  height: 350px; /*da togliere*/
  display: flex;
  justify-content: center;
  align-items: center;
}

main .jumbotron section{
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: cornflowerblue;
  height: 200px;
}

