*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header{
  background-color: blue;
  height: 80px; /*da togliere*/
}

header .container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .container span{
  background-color: lightblue;
  padding: 10px;
  margin: 20px 0;
}

/*main*/

/*jumbotron*/
main .jumbotron {
  background-color: aqua;
  height: 350px; /*da togliere*/
  display: flex;
  justify-content: center;
  align-items: center;
}

main .jumbotron .intro{
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: cornflowerblue;
  height: 200px; /*da togliere*/
  text-align: center;
}

/*sezione con informazioni e immagini*/

/*blocchi con immagine e testo*/
main .info {
  width: 70%;
  height: 250px; /*da togliere*/
  background-color: greenyellow;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .info .immagine{
  width: 52%;
  height: 200px; /*da togliere*/
  background-color: gold;
  margin-left: 10px;
}

main .info .testo{
  width: 42%;
  height: 200px; /*da togliere*/
  background-color: lightgoldenrodyellow;
  margin-right: 10px;
}

/*blocco con sfondo, testo e immagine*/
main .colored {
  height: 500px; /*da togliere*/
  background-color: lightcyan;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .colored .immagine-reverse{
  margin-right: 10px;
}

main .colored .testo-reverse{
  margin-left: 10px;
}

/*sezione con un unico blocco*/

main .colored-2 {
  height: 500px; /*da togliere*/
  background-color: palegreen;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*parte top della sezione con testo e immagine*/
main .colored-2 .top {
  width: 70%;
  height: 400px; /*da togliere*/
  background-color: orchid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .colored-2 .testo-top{
  height: 100px;
  text-align: center;
  width: 95%;
  background-color: blueviolet;
}

main .colored-2 .immagine-top{
  background-color: red;
  width: 95%;
  height: 300px
}

/*parte bottom della sezione con testo e pulsante*/
main .colored-2 .bottom {
  width: 70%;
  height: 100px; /*da togliere*/
  background-color: pink;
  display: flex;
  justify-content: center;
}

/*footer*/
footer{
  height: 400px; /*da togliere*/
  background-color: rosybrown;
}

footer .container{
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*colonna della lingua*/
footer .container .lingua{
  background-color: beige;
  height: 250px; /*da togliere*/
  width: 150px;
  margin-right: 20px;
}

/*colonne dei menu*/
footer .container .menu{
  background-color: brown;
  height: 250px; /*da togliere*/
  width: 100px;
  margin-right: 30px;
}

/*sezione del footer con logo e pulsante*/
footer .end{
  width: 70%;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  background-color: peachpuff;
}


